$border-color: #e4e7ed;
$background-color: #f5f7fa;
$primary-color: #409eff;
$text-color: #606266;
#user {
  height: 100%;
  background: $background-color;
  overflow: auto;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  .content,
  #filter-form {
    border-radius: 8px;
  }
  #filter-form,
  #pagination,
  .search,
  #table-model {
    padding: 16px;
    background-color: #fff;
  }
  #filter-form {
    margin-bottom: 16px;
  }
  .search,
  #table-model {
    padding-bottom: 0;
  }
  .search {
    display: none;
    .el-form {
      .el-form-item {
        margin-bottom: 0px;
        .el-form-item__label {
          padding: 0px;
          line-height: 28px;
        }
      }
    }
  }
}

.detail-page.crud-page{
  // 页面标题
  .page-title {
    width: 70%;
    margin: 0 auto 24px;
  }
  .button{
    margin-left: 0;
    display: flex;
    justify-content: flex-end; //弹性盒子元素将向结束位置对齐
    align-items: center; //侧轴居中
    width: 85%;
  }
}

// 增删改查界面样式
.crud-page{
  display: none;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  .el-form{
    .el-form-item__label{
      font-weight: 400;
    }
  }


  // 页面标题
  .page-title {
    font-size: 24px;
    margin-bottom:24px;
    color:$--color-text-primary;

  }
  // 模块小标题
  .title,
  .el-descriptions__title {
    border-left: 4px solid $--color-primary;
    padding-left: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    color:$--color-text-primary;
  }
  .title,
  .el-descriptions__header{
    margin-bottom: 16px;
  }
  // description样式
  .el-descriptions {
    width: 70%;
    margin: 0 auto;
    span.el-descriptions-item__label.has-colon {
      width: 100px;
      text-align: right;
    }
    th.el-descriptions-item__cell.el-descriptions-item__label.is-bordered-label {
      text-align: right;
      width: 160px;
    }
    // .el-descriptions__header{
    //   .el-descriptions__extra{
    //     // margin-bottom: 16px;
    //   }
    // }
    // .el-descriptions-item__content {
    //   font-weight: 600;
    //   width: 100%;
    // }
  }

  // 底部按钮
  .button {
    margin-top: 24px;
    margin-left: 140px;
    // display: flex;
    // justify-content: flex-end; //弹性盒子元素将向结束位置对齐
    // align-items: center; //侧轴居中
  }
  // 表单控件长度
  .el-input,
  .el-textarea {
    width: 50%;
  }
  .el-select,
  .el-input-number,
  .el-date-editor,
  .el-cascader {
    .el-input {
      width: 100%;
    }
  }
  // 上传组件样式
  .avatar-uploader .el-upload {
    border: 1px dashed $--border-color-base;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar {
    width: 148px;
    height: 148px;
    display: block;
  }
  .idPhoto{
    // width: 148px;
    height: 180px;
    display: block;
  }
  .idPhotoShow{
    height: 120px;
  }
  // 图片格式
  .orgImgs {
    display: inline;
    padding: 0px 4px;
    .el-image {
      width: 120px;
      height: 120px;
    }
  }
  // 日志
  .timeLine {
    max-height: 1160px;
    overflow: auto;
    ul{
      padding-left: 4px;
    }
  }
  .little-table {
    padding: 16px;
    margin: 0px 0px 24px 140px;
    border: 1px solid $--border-color-base;
    border-radius: 4px;
    #table-model{
      margin: 0;
    }
  }
}
